---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import Concept from '../components/Concept.astro'
import Pricing from '../components/Pricing.astro'
import Ingredients from '../components/Ingredients.astro'
import Bar from '../components/Bar.astro'
import Reviews from '../components/Reviews.astro'
import Gallery from '../components/Gallery.astro'
import Visit from '../components/Visit.astro'
import Lieferando from '../components/Lieferando.astro'
import Footer from '../components/Footer.astro'
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Concept />
    <Pricing />
    <Ingredients />
    <Bar />
    <Reviews />
    <Gallery />
    <Visit />
    <Lieferando />
  </main>
  <Footer />
</Layout>
